{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="jumbotron">
        <h1>Valve Inspector <i class="mdi mdi-tag-multiple"></i></h1>
    </div>

    <div class="container">
        <div>
            {{ wtf.quick_form(form) }}
        </div>
        <br>
        <ul class="valves">
            {% for valve in valves %}
                <li class="valve">
                    <div class="valve-thumbnail">
                        <p><a href="{{ url_for('.valve', tag=valve.tag) }}"><button type="button" class="btn btn-primary btn-block">Tag: {{ valve.tag }}</button></a></p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{%- endblock %}