{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="container">
        <p><a href="{{ url_for('main.index') }}"><button type="button" class="btn btn-default">Back</button></a></p>
        <h1>Valve Details</h1>
        <table class="table table-hover">
            <tr><td>Tag</td><td>{{ valve.tag }}</td></tr>
            <tr><td>Size</td><td>{{ valve.size }} in</td></tr>
            <tr><td>Location</td><td>{{ valve.location }}</td></tr>
            <tr><td>Current Status</td><td>{{ valve.status }}</td></tr>
        </table>
        <p>
            <a href="{{ url_for('main.valve_delete', id=valve.id) }}"><button type="button" class="btn btn-danger">Delete Valve</button></a>
            <a href="{{ url_for('main.valve_edit', id=valve.id) }}"><button type="button" class="btn btn-default">Edit Valve</button></a>
        </p>
        <br>
        <h1>Logs</h1>
        <h2>Add a new action log</h2>
        <div>
            {{ wtf.quick_form(form) }}
        </div>
        <br>
        <h2>History</h2>
        <table class="table table-hover">
            <thead><tr><th>Date</th><th>Time</th><th>Status</th><th>Turns</th><th></th></tr></thead>
            {% for log in logs %}
                <tr>
                    <td>{{ moment(log.date).format('L') }}</td> 
                    <td>{{ moment(log.date).format('hh:mm') }}</td>    
                    <td>{{ log.status }}</td>
                    <td>{{ log.turns }}</td>
                    <td>
                        <a href="{{ url_for('main.log_edit', valve_id=valve.id, log_id=log.id) }}"><button type="button" class="btn btn-default">Edit</button></a>
                        <a href="{{ url_for('main.log_delete', valve_id=valve.id, log_id=log.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
